<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header" th:fragment="header">
        <div id="language-panel" class="language-panel">
            <span th:text="#{general.language}"></span><span th:text=" __${#locale}__"></span>
        </div>
        <br />
        <div id="language-switch" class="language-switch">
            <a th:href="@{__${#httpServletRequest.requestURI}__?lang=en}" th:text="#{link.language}" th:if="__${#locale}__=='nl' or __${#locale}__=='nl_NL'"></a>
            <a th:href="@{__${#httpServletRequest.requestURI}__?lang=nl}" th:text="#{link.language}" th:if="__${#locale}__=='en' or __${#locale}__=='en_EN'"></a>
        </div>
    </header>
</body>
</html>