<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layout :: head">
    <title id="pageTitle">Spring Forward Starter</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="fragments/layout :: layout">
                <div id="pageHeader">
                    <div th:replace="fragments/header :: header" />
                </div>

                <div id="pageContent">
                    <h1>Spring Forward Starter</h1>
                    <div th:each="demo : ${demos}">
                        <div class="card" style="margin-bottom:10px">
                            <div class="card-header" th:text="${demo.name}">
                                Featured
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${#temporals.format(demo.created, 'dd-MM-yyyy HH:mm')}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>